
<launch>
  <node pkg="uniboard_communication" type="uniboard_service.py" name="uniboard_communication"/>
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python" args="/dev/ttyUSB0 _baud:=14400"/>
  <node pkg="wheel_encoders" type="publish_rpm.py" name="test"/>
  
  <node name="test_real_roving" pkg="flodometry" type="test_real_roving.py" />
</launch>