<launch>
  <node pkg="uniboard_communication" type="uniboard_service.py" name="uniboard_communication"/>
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python" args="/dev/ttyUSB0 _baud:=14400"/>
  <node pkg="wheel_encoders" type="publish_rpm.py" name="rpm_publisher"/>
  <node pkg="rosbag" type="record" name="record" args="-o $(find flodometry)/test/bags/test_rotation /optical_flow /encoder_values"/>
  
  <node name="test_rotation" pkg="flodometry" type="rotate.py" required="true"/>
</launch>