<launch>

<!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find rover_2dnav)/Level_1_0.250000.pgm 0.25"/>

<!-- Run move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rover_2dnav)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rover_2dnav)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rover_2dnav)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rover_2dnav)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rover_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>

<!-- run with odom commented out in rover_config, sans flodometry.py to achieve the goal set in simple goals -->
<!--  <node pkg="rosbag" type="play" name="rosbag" args="$(find flodometry)/test/bags/run_four.bag" /> -->
  
</launch>
