<launch>

  <include file="$(find zed_wrapper)/launch/zed_tf.launch" />

  <arg name="computeDepth" default="0"/>
  <arg name="svo_file" default=""/>

  <group ns="/camera">
    <node name="zed_wrapper_node" pkg="zed_wrapper" type="zed_wrapper_node" args="$(arg computeDepth) $(arg svo_file)" output="screen">
	<!-- 2 is 720p 1 1080p 0 2k -->
      <param name="resolution"            value="2" />
	<!-- use 2 for quality, 1 for performance -->
      <param name="quality"               value="1" />
      <param name="sensing_mode"          value="1" />
      <param name="frame_rate"            value="10" />

      <param name="left_topic"            value="left/image_raw" />
      <param name="second_topic"          value="right/image_raw" />
      <param name="left_cam_info_topic"   value="left/camera_info" />
      <param name="second_cam_info_topic" value="right/camera_info" />
      <param name="left_frame_id"         value="/zed_optical_frame" />
      <param name="second_frame_id"       value="/zed_optical_frame" />

    </node>
  </group>
</launch>
